<!DOCTYPE html>
<!--
Name: Kimberlly Cajas
Administrator              
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login SameSystem</title>
    <link rel="stylesheet" href="../public/css/Index.css">
</head>

<body class="hidden">
    <header>
        <h1>SAME SYSTEM </h1> 
        <img src="../views/users/photos/logo1.jpeg" alt="photo">
        <div class="BoxLogin"> 
                    <h2>Iniciar Sesión: </h2> <br>
                    <p> <input class="controls" type="text" placeholder="Usuario" ></p> <br>
                    <p><input class="controls" type="password" placeholder="Contraseña"></p> <br>
                    <p><input  class="buttons" type="submit" name="" value="Ingresar"></p> 
            </div>
    </header>
</body>
</html>